body{font-family: Garamond, serif;color:#333;margin-top:1.5em}
h1{font-weight:normal;color:#111;text-align:center}
.content{margin:0 auto;max-width:890px}
.content,.gallery{padding-bottom:2em}

.menu b a{display:inline-block;padding:.4em .8em;font-weight:bold;text-transform:uppercase;
    color:white;border-radius:4px;text-decoration:none;text-shadow:1px 1px #000;margin:0 .4em}
.menu b a:hover,
.menu b a.active{background:orange}
.menu b a.external{background:purple}
.menu b a,.header b{box-shadow:2px 2px 4px #000;background:SaddleBrown}

.header{text-shadow:2px 2px #ddd;display:block;text-align:center;text-decoration:none;font-size:1.2em;
    letter-spacing:.2em;padding-bottom:1em;color:SaddleBrown}
.header b{text-shadow:2px 2px #333;padding:1.4em .3em .5em .3em;margin:0 .3em;
    border-radius:0 0 .5em .5em;color:white;font-weight:normal}
.header:hover{text-decoration:underline}
.header:visited{color:SaddleBrown}

.menu{list-style-type:none;margin:0;padding:1em 0}
.menu b a{display:block;width:6.5em;float:left;margin:1em 1em 1em 0;text-align:center;position:relative;top:.5em}
.menu b a:visited{color:white}
.menu li{width:50%;float:left}
.menu p{padding-right:1em;padding-top:.5em}

/* next gallery links */
.next{text-transform:uppercase;font-size:1.2em;display:block;text-align:center}

.nav{list-style:none;margin:1em 0 0 0;padding:0;clear:both;text-align:center}
.nav li{padding:0 1em .5em 0;display:inline-block}

a:link{color:SaddleBrown}
a:visited{color:purple}
hr{clear:both;margin:2em 0;height:0;background:none;border:0;border-top:1px solid #ddd}

/* photo galleries */
.gallery{list-style-type:none;margin:0;padding:0}
.gallery li{padding:0;margin:0 0 1em}

.video {
    position: relative;
    padding-bottom: 56.25%;
    text-align: center;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.songlist{list-style-type:none;padding:0}
.songlist audio{height:1em}
.songlist li{padding-bottom:1em}

@media only screen and (max-width: 640px) {
  .responsive{width:100%;height:auto}
  .gallery img{width:100%;height:auto}
}

@media only screen and (min-width: 640px) {
    .gallery {
        transition: all .5s ease-in-out;
        column-fill: initial;
        column-count: 2;
        column-gap: 1em;
    }
    .gallery li {
        display: inline-block;
        width: 100%;
    }
    .gallery li img {
        display: inline-block;
        width: 100%;
    }
    .gallery li img {
      transition: all .5s ease-in-out;
      backface-visibility: hidden;
    }
    .gallery li a:hover img {
      opacity: .75;
    }
}

@media only screen and (min-width: 900px) {
    .gallery {
        column-count: 3;
    }
}
